*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Barlow-Midium";
    src: url("/assets/css/fonts/Barlow/Barlow-Medium.ttf");
  
  }
  @font-face {
    font-family: "Roc-Regular";
    src: url("/assets/css/fonts/Roc-Grotesk/Fontspring-DEMO-rocgrotesk-regular.otf");
  
  }
  @font-face {
    font-family: "Roc-Bold";
    src: url("/assets/css/fonts/Roc-Grotesk/Fontspring-DEMO-rocgroteskwide-extrabold.otf");
  
  }
  @font-face {
    font-family: "Barlow-SimiBold";
    src: url("/assets/css/fonts/Barlow/Barlow-SemiBold.ttf");
  
  }
  @font-face {
    font-family: "Barlow-Regular";
    src: url("/assets/css/fonts/Barlow/Barlow-Regular.ttf");
  
  }
  @font-face {
    font-family: "Inter-Regular";
    src: url("/assets/css/fonts/Inter/Inter-Regular.ttf");
  
  }
body{
    background-color: #131212;
    overflow-x: hidden;
}
.active{
    border-bottom: 2px solid #208DCD;
}
.nav-link{
    color: #FFFFFF;
    font-size: 18px;
    font-family: Barlow-Midium;

}
.Companies-header{
   
font-family: Barlow-SimiBold;
font-size: 48px;
color: #FFFFFF;
margin-bottom: 0;
text-align: center;
}
.Companies-supheader{
    color: #E6E6E6;
    font-family: Barlow-Regular;
    font-size: 18px;
    text-align: center;
}
.Companies{
    background-image:  url("/assets/media/Group\ 3.png");
    background-position:  center ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.title{
    color: #FFFFFF;
    font-size: 48px;
    font-family: Barlow-SimiBold;
}
.suptitle{
    color: #E6E6E6;
    font-size: 18px;
    font-family: Roc-Regular;
}
.btn-info{
    margin-top: 40px;
    background-color: #262626;
    width: 486px;
    height: 50px;
    border-color: #262626;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 21px ;
    font-family:Barlow-Midium ;
    margin-bottom: 50px;
}
.normaltext{
    margin-bottom: 0;
    color: #98989A;
    font-size: 23px;
    font-family: Barlow-Midium;
    border: 1px solid #262626; 
    padding: 30px;
}
.shadow-img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adjust the values as needed */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.companiesName{
    margin-top: 30px;
    color: #E6E6E6;
    font-size: 24px;
    font-family: Barlow-Midium;
}
.AllCompanies .btn-link{
    font-size: 20px !important;
    font-family: Barlow-Regular;
    color: #98989A !important;
    width: 261px;
    height: 50px;
    border-color: #262626;
    background-color: #262626;
    border-radius: 8px;
    margin-bottom: 30px;
}
.companiesDatiles{
    color: #98989A;
    font-size: 15px;
    font-family: Inter-Regular;

}

.Projects-header{
   
    font-family: Barlow-SimiBold;
    font-size: 33px;
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
    }
    .Projects-supheader{
        color: #E6E6E6;
        font-family: Barlow-Regular;
        font-size: 14px;
        text-align: center;
    }
    .Projects{
        background-image:  url("/assets/media/Group\ 3.png");
        background-position:  center ;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
    }
    .btn-danger{
        margin-top: 50px;
        background-color: #208DCD;
        width: 170px;
        height: 63px;
        border-color: #208DCD;
        border-radius: 13px;
        color: #1A1A1A;
        font-size: 18px ;
        font-family:Barlow-Midium ;
    }
@media  (max-width: 768px) {

    .remPadding{
        padding: 60px 28px !important;
    }
    .navbar-brand img{
        margin-left: 10px !important;
    }
    .btn-info{
        width: 100%;
      height: 80px;
    }
    .navbar-collapse{
        padding: 10px;
    }
    footer{
        margin-top: 318px  !important;
    }
    .rrr{
        display: flex;
        flex-direction: column;
    }
    footer ul {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-items: start !important;

    }
   
}
