

:root {
    --color-primary: #5956E9;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light: #ECF2F6;
    --color-dark: #27272E;
    --color-text-dark: #292930;
    --color-accent1: #FFDC60;
    --color-accent2: #FAB8C4;
    --color-blue-shade: #6865FF;
    --color-link: #2522BA;
    --color-mabel: #DBF8FF;
    --color-fog: #DBDEFF;
    --color-pink-shade: #FFD3DB;
    --color-peach: #FFEDDC;
    --color-rose: #C75C6F;
    --color-chart1: #896BA7;
    --color-chart2: #BADEFF;
    --color-body: #525260;
    --color-gray-1: #757589;
    --color-gray-2: #999FAE;
    --color-gray-3: #999AB8;
    --color-gray-4: #99A1AA;
    --color-ship-gray: #42424A;
    --color-ghost: #C7C7D5;
    --color-mercury: #E5E5E5;
    --gradient-primary: linear-gradient(90deg, #ECF2F6 0%, rgba(236, 242, 246, 0) 70.31%);
    --gradient-blue: linear-gradient(145.92deg, #5956E9 20.18%, #9991FF 76.9%);
    --gradient-accent: linear-gradient(180deg, #FAB8C4 0%, #FFEDF0 100%);
    --gradient-white: linear-gradient(266.3deg, rgba(236, 242, 246, 0) 7.84%, #ECF2F6 29.1%, rgba(236, 242, 246, 0) 64.32%);
    --gradient-dark: linear-gradient(180deg, #27272E 0%, #303035 100%);
    --border-light: 1px solid #E3E6E9;
    --border-lighter: 1px solid #ECF2F6;
    --border-dark: 1px solid var(--color-ship-gray);
    --border-gray: 1px solid var(--color-gray-4);
    --font-primary: "DM Sans", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --font-awesome: "Font Awesome 5 Pro";
    --transition: all 0.3s ease-in-out;
    --font-body-1: 18px;
    --font-body-2: 16px;
    --font-body-3: 14px;
    --font-body-4: 12px;
    --line-height-b1: 1.5;
    --line-height-b3: 1.1;
    --h1: 80px;
    --h2: 64px;
    --h3: 48px;
    --h4: 32px;
    --h5: 24px;
    --h6: 20px;
}

/*-------------------------
    Reset Styels
-------------------------*/

a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul.list-style,
ol.list-style {
    margin: -10px 0;
}

ul.list-style li,
ol.list-style li {
    margin: 10px 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
    color: var(--color-primary);
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row>[class*=col] {
    padding-left: 15px;
    padding-right: 15px;
}

.row.g-0 {
    margin-left: 0;
    margin-right: 0;
}

.row.g-0>[class*=col] {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 1400px) {
    .row-35 {
        margin-left: -35px;
        margin-right: -35px;
    }
    .row-35>[class*=col] {
        padding-left: 35px;
        padding-right: 35px;
    }
    .row-40 {
        margin-left: -40px;
        margin-right: -40px;
    }
    .row-40>[class*=col] {
        padding-left: 40px;
        padding-right: 40px;
    }
    .row-45 {
        margin-left: -45px;
        margin-right: -45px;
    }
    .row-45>[class*=col] {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@font-face {
    font-family: "Barlow-Midium";
    src: url("./fonts/Barlow/Barlow-Medium.ttf");
  
  }
  @font-face {
    font-family: "Roc-Regular";
    src: url("./fonts/Roc-Grotesk/Fontspring-DEMO-rocgrotesk-regular.otf");
  
  }
  @font-face {
    font-family: "Roc-Bold";
    src: url("./fonts/Roc-Grotesk/Fontspring-DEMO-rocgroteskwide-extrabold.otf");
  
  }
  @font-face {
    font-family: "Barlow-SimiBold";
    src: url("./fonts/Barlow/Barlow-SemiBold.ttf");
  
  }
  @font-face {
    font-family: "Barlow-Regular";
    src: url("./fonts/Barlow/Barlow-Regular.ttf");
  
  }
/*----
/*-----
--------------------
    Typography
-------------------------*/

body {
    line-height: var(--line-height-b1);
    height: 100%;
    background-color: #131212;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
table,
hr {
    margin: 0 0 30px 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 500;
    letter-spacing: -0.025em;
    color: var(--color-text-dark);
}

h1,
.h1 {
    font-size: var(--h1);
    line-height: 1.2;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    h1,
    .h1 {
        font-size: 68px;
    }
}

@media only screen and (max-width: 1199px) {
    h1,
    .h1 {
        font-size: 68px;
    }
}

@media only screen and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 48px;
    }
}

h2,
.h2 {
    font-size: var(--h2);
    line-height: 1.2;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    h2,
    .h2 {
        font-size: 56px;
    }
}

@media only screen and (max-width: 1199px) {
    h2,
    .h2 {
        font-size: 56px;
    }
}

@media only screen and (max-width: 767px) {
    h2,
    .h2 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 479px) {
    h2,
    .h2 {
        font-size: 34px;
    }
}

h3,
.h3 {
    font-size: var(--h3);
    line-height: 1.2;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    h3,
    .h3 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1199px) {
    h3,
    .h3 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 767px) {
    h3,
    .h3 {
        font-size: 32px;
    }
}

h4,
.h4 {
    font-size: var(--h4);
    line-height: 1.2;
}

@media only screen and (max-width: 991px) {
    h4,
    .h4 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 767px) {
    h4,
    .h4 {
        font-size: 20px;
    }
}

h5,
.h5 {
    font-size: var(--h5);
    line-height: 1.4;
}

@media only screen and (max-width: 767px) {
    h5,
    .h5 {
        font-size: 20px;
    }
}

h6,
.h6 {
    font-size: var(--h6);
    line-height: 1.2;
}

@media only screen and (max-width: 767px) {
    h6,
    .h6 {
        font-size: 18px;
    }
}

p {
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
    margin: 0 0 40px 0;
}

.body-font1 {
    font-size: var(--font-body-1);
    line-height: var(--line-height-b1);
}

.body-font2 {
    font-size: var(--font-body-2);
    line-height: var(--line-height-b1);
}

.body-font3 {
    font-size: var(--font-body-3);
    line-height: var(--line-height-b3);
}

.body-font4 {
    font-size: var(--font-body-4);
    line-height: var(--line-height-b3);
}

/*-------------------------
    Forms Styles
-------------------------*/

input,
.form-control {
    border: var(--border-lighter);
    border-radius: 16px;
    background-color: transparent;
    color: var(--color-text-dark);
    padding: 15px 20px;
    width: 100%;
    /* -- Placeholder -- */
}

input:focus,
.form-control:focus {
    outline: none;
    box-shadow: 0 20px 48px -14px rgba(153, 161, 170, 0.25);
    border-color: transparent;
}

input::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: var(--color-gray-2);
    /* Firefox */
    opacity: 1;
}

input::-moz-placeholder,
.form-control::-moz-placeholder {
    color: var(--color-gray-2);
    /* Firefox */
    opacity: 1;
}

input:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: var(--color-gray-2);
    /* Firefox */
    opacity: 1;
}

input::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: var(--color-gray-2);
    /* Firefox */
    opacity: 1;
}

input::placeholder,
.form-control::placeholder {
    color: var(--color-gray-2);
    /* Firefox */
    opacity: 1;
}

input:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-gray-2);
}

input::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-gray-2);
}

input {
    height: 60px;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.input-group {
    background-color: var(--color-white);
    border-radius: 20px;
    height: 72px;
    padding: 10px 10px 10px 55px;
    box-shadow: 0 24px 48px -15px rgba(153, 161, 170, 0.25);
}

@media only screen and (max-width: 479px) {
    .input-group {
        display: block;
        box-shadow: none;
        height: auto;
        padding: 0;
    }
}

.input-group:before {
    content: url("../../assets/media/icon/message.png");
    position: absolute;
    left: 30px;
    top: 24px;
    z-index: 1;
}

@media only screen and (max-width: 479px) {
    .input-group:before {
        left: 15px;
        top: 18px;
    }
}

.input-group .form-control {
    padding: 5px 15px;
    height: auto;
    border: none;
    background-color: transparent;
}

.input-group .form-control:focus {
    box-shadow: none;
}

@media only screen and (max-width: 479px) {
    .input-group .form-control {
        height: 60px;
        width: 100%;
        border-radius: 20px !important;
        padding: 5px 15px 5px 50px;
        border: 1px solid var(--color-light);
    }
}

.input-group .subscribe-btn {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 16px !important;
    margin-left: 0 !important;
    padding: 10px 28px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.input-group .subscribe-btn:hover {
    background-color: var(--color-link);
}

@media only screen and (max-width: 479px) {
    .input-group .subscribe-btn {
        margin-top: 15px;
        padding: 14px 30px;
    }
}



/* start of landing with navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure navbar is above other content */
    background-color: rgba(0, 123, 255, 0); /* Semi-transparent blue background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for older Safari */
}
.navbar-brand {
    margin-left: 20px;
    color: #fff;
}
.navbar-nav {
    margin-right: 20px;
}
#navbarNav{
    margin-left: 10% ;
}
.nav-link{
    color: #E6E6E6;
    font-size: 18px;
    font-family:Barlow-Midium;
}
.landing {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url("../media/Landing\ bg.png");
    background-position:  right ;
    background-repeat: no-repeat;
    
}
.header-text {
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}
.active{
    border-bottom: 2px solid #208DCD;
}
.header-text{
    font-size: 291.83px;
    font-family: Roc-Bold;
    margin: 0;
    padding: 0;
}
.above-header{
    font-size: 38.06px;
    color: #fff;
    margin: 0;
    font-family: Roc-Regular;
    position: relative;
    top: 40px;


}
.under-text{
    text-align: right;
    font-size: 112.45px;
    color: #fff;
    margin: 0;
    font-family: Roc-Regular;
    position: relative;
    bottom: 100px;
}
.Companies-header{
    margin-top: 50px;
font-family: Barlow-SimiBold;
font-size: 48px;
color: #FFFFFF;
margin-bottom: 0;
text-align: center;
}
.Companies-supheader{
    color: #E6E6E6;
    font-family: Barlow-Regular;
    font-size: 18px;
    text-align: center;
}
.Companies{
    background-image:  url("../media/Group\ 1.png");
    background-position:  center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.ser h4{ 
    font-size: 30px;
    margin-top: 40px;
color: #FFFFFF;
    font-family: Barlow-SimiBold;

}
.ser p{
    font-size: 16px;
    margin-top: 20px;
color: #FFFFFF;
    font-family: Barlow-Regular;
}
.tra .btn-primary{
    font-size: 18px;
    font-family: Barlow-Midium;
    color:#FFFFFF ;
}
.bgg{
    background-image:  url("../media/Group\ 2.png");
    background-position:  center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.Groups-header{
    margin-top: 50px;
font-family: Barlow-SimiBold;
font-size: 68px;
color: #FFFFFF;
margin-bottom: 0;
text-align: center;
}
.Groups-supheader{
    color: #E6E6E6;
    font-family: Barlow-Regular;
    font-size: 18px;
    text-align: center;
}
.besideImg{
    font-family: Barlow-Midium;
    font-size: 26px;
    color: #FFFFFF;

}
.underImg{
    font-family: Barlow-Regular;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 40px;
   
}
.blog-bg{
    background-image:  url("../media/Group\ 3.png");
    background-position:  center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.Blog-header{
    margin-top: 50px;
font-family: Barlow-SimiBold;
font-size: 70px;
color: #FFFFFF;
margin-bottom: 0;
text-align: center;
}
.Blog-supheader{
    color: #E6E6E6;
    font-family: Barlow-Regular;
    font-size: 18px;
    text-align: center;
}
.blog h3{
    color: #A6DEFF;
    font-size: 25px;
    font-family: Barlow-Midium;

}
.blog .dsad{
    color: #E6E6E6;
    font-size: 16px;
    font-family: Barlow-Regular;
}
.btn-secondary{
    font-family: Barlow-Midium;
    font-size: 18px;
    background-color: transparent;
    width: 100% !important; 
    border-color: #208DCD;
  
}
.Questions{
    background-image:  url("../media/Group\ 4.png");
    background-position:  center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.Questions-header{
    margin-top: 50px;
font-family: Barlow-SimiBold;
font-size: 48px;
color: #FFFFFF;
margin-bottom: 0;
text-align: center;
}
.Questions-supheader{
    color: #E6E6E6;
    font-family: Barlow-Regular;
    font-size: 18px;
    text-align: center;
}
.accordion{
    --bs-accordion-bg: transparent !important;
}
.accordion button{
    color: white !important;

}
.accordion-item {
    border: 2px solid #242424; /* Change to your desired color */
}
.accordion-button{
    font-size: 22px;
    font-family: Barlow-Midium;

}
.accordion-button {
    background-color: transparent;
}
.accordion-button:not(.collapsed) {
    color: #208DCD !important;
    background-color: transparent;
    border-color: red !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: none; /* Remove the default background image */
}
.accordion-body {
    background-color: transparent;
}
.accordion-body{
    color: #E6E6E6 !important;
    font-size: 18px !important;
    font-family: Barlow-Regular !important;

}
/* end of landing with navbar */
@media screen and (max-width: 1280px) {
    .header-text {
        font-size: 16rem !important; /* Adjusted font size for large laptops */
    }
}


@media  (max-width: 768px) {
    footer{
        margin-top: 318px  !important;
    }
    .rrr{
        display: flex;
        flex-direction: column;
    }
    footer ul {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start !important;
        align-items: start !important;

    }
   
    .formm{
        width: 100%;
        max-width: 89%;
    }
  
    .navbar-brand {
        margin-left: 0 !important; 
    }
    .navbar-brand img {
        margin-left: 10px !important; 
    }
    .header-text{
        font-size: 78.83px !important;
    }
    .under-text{
        font-size: 55.45px;
        margin-top: 30px;
        position: relative;
        bottom: 50px;
    }
    .above-header{
        font-size: 33.06px;
        position: relative;
        top: 0;
    }
    #navbarNav {
        margin-left: 4%;
    }
    .Thank h3{
        text-align: center;
    }
    .removeDs{
        display: flex;
        flex-direction: column;
    }
    .form-group{
        width: 100% !important;
    }
    .hh{
        height: 50% !important;
        width: 100% !important;
    }
    .removepos{
        position: relative;
        right: 0 !important;
    }
  }

  :root {
    --animate-duration: 900ms;
    --animate-delay: 0.9s;
  }
  .btn-secondary:hover{
    background-color: #208DCD !important;
  }
  .nav-link:hover{
    color: #208DCD;
  }
.Thank{
   
        background-image:  url("../media/Group\ 5.png");
        background-position:  center ;
        background-repeat: no-repeat;
        background-size: cover;
        
    
}
.Thank h3{
    font-size: 38px;
    color: #FFFFFF;
    font-family: Barlow-SimiBold;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}
.Thank p{
    font-size: 18px;
    color: #FFFFFF;
    font-family: Barlow-Regular;
    text-align: center;
 

}
label{
    font-size: 22px !important;
    font-family: Barlow-Midium !important;
    color: #FFFFFF  !important;

}
input::-webkit-input-placeholder {
    color: #656567 !important;
}

